.python-version
.venv
__pycache__
.env
backend/.env

TrueWeb.code-workspace
new_fe/
serviceAccountKey.json
backend/utils/debugger.py
backend/main_temp.py
src/

# Build files
dist/
build/
*.egg-info/
*.spec

# IDE
.vscode/
.idea/

# Temporary files
*.pyc
*.pyo
*.pyd
__pycache__/
.DS_Store
*.zip
pip

# Logs
*.log